*
!/.gitignore
!/.meta
!/.meta/**
!/foot
!/foot/**
!/mpv
!/mpv/**
!/sway
!/sway/**
!/waybar
!/waybar/**
!/nvim
!/nvim/**
!/qBittorrent
!/qBittorrent/**
/qBittorrent/*
!/qBittorrent/themes
!/user-dirs.dirs
!/user-dirs.locale